body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    text-transform: capitalize;
}
body{
background: linear-gradient(
rgba(0,0,0,0.75),
rgba(20,20,20,0.80)
),
url(WhatsApp\ Image\ 2026-04-26\ at\ 10.49.23\ PM.jpeg);
background-position: center;
background-attachment: fixed;
background-size: cover;
flex-direction: column;
}
.main{
    flex: 1;
    margin-top: 155px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
html.light-mode nav {
    background: rgba(255, 255, 255, 0.395);
    backdrop-filter: blur(10px);
}

html.light-mode .theme {
    color: black;
}

html.light-mode .theme:hover {
    color: goldenrod;
}
html.light-mode .theme::after {
    background: goldenrod;
}
html.light-mode footer {
    background: #ffffff;
    color: black;
}
html.light-mode footer {
    background: rgba(255, 255, 255, 0.395);
    backdrop-filter: blur(10px);
    color: black;
}
html.light-mode .container {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    color: black;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
html.light-mode .container a {
    color: goldenrod;
}
nav{
background: linear-gradient(rgba(0, 0, 0, 0.508));
padding: 20px;

}
ul{
display: flex;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
}
li{
text-align: center;
list-style: none;

}
.theme{
font-size: 25px;
font-weight: bold;
color: white;
position: relative;
font-family: "Shojumaru", system-ui;
text-decoration: none;
display: inline-block;
transition: transform 0.3s ease,color 0.3s ease;
text-align: center;
}
.theme::after{
width: 0px;
height: 2px;
left: 0;
bottom:-5px;
position: absolute;
content: "";
transition: 0.4s;
background: gold;
white-space: nowrap;
}
.theme:hover::after{
width: 100%;
}
.theme:hover{
color: gold;
transform: scale(1.2) translateX(-5px) ;
text-shadow: 0 0 10px gold;    
}
#theme-toggle{
    padding: 10px 10px;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 18px;
    font-family: "Shojumaru", system-ui;
    transition: transform 0.3s ease,color 0.3s ease;
    margin-lift:auto;
}
#theme-toggle:hover{
    transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(255, 217, 0, 0.638),
0px 0px 20px rgba(255, 217, 0, 0.779),
0px 0px 30px gold; 
}

.container {
    width: 360px;
    padding: 25px;
    margin: 20px;
    background: rgba(0,0,0,0.8);
    border-radius: 15px;
    text-align: center;
    color: #FFD700;
    box-shadow: 0 0 20px rgba(255,215,0,0.3);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}
.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 25px;
    top: 12px;
    cursor: pointer;
    color: black;
}
.form-btn {
    width: 95%;
    padding: 10px;
    background: #FFD700;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form-btn:hover {
    background: #e6c200;
    transform: scale(1.05);
}
a {
    color: #FFD700;
    text-decoration: none;
}
footer{
font-weight: bold;
color: white;
font-size: 20px;
background:linear-gradient(rgba(0, 0, 0, 0.508));
padding: 20px;
text-align: center;    
margin-top: -15px;
}
